flows.json
[{"id":"56ca1df5.39e304","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"a5f41cc4.eb4c2","type":"server-state-changed","z":"56ca1df5.39e304","name":"","server":"5b698845.1b9868","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bedroom_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":240,"wires":[["79e2e5c1.abc68c"]]},{"id":"79e2e5c1.abc68c","type":"switch","z":"56ca1df5.39e304","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":240,"wires":[["34acab9acd245f87"],[]]},{"id":"10742f4f.d7ca71","type":"www-request","z":"56ca1df5.39e304","name":"Ring On","method":"GET","ret":"obj","url":"192.168.1.142/motion","follow-redirects":true,"persistent-http":true,"tls":"","x":520,"y":160,"wires":[["14dce7d46a8994cb","42b9becf0965148c","901e2fc59dada750"]]},{"id":"d0ccfe20.b36be","type":"www-request","z":"56ca1df5.39e304","name":"Ring Off","method":"GET","ret":"obj","url":"192.168.1.142/ringoff","follow-redirects":true,"persistent-http":true,"tls":"","x":940,"y":320,"wires":[[]]},{"id":"14dce7d46a8994cb","type":"delay","z":"56ca1df5.39e304","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":780,"y":320,"wires":[["d0ccfe20.b36be"]]},{"id":"42b9becf0965148c","type":"delay","z":"56ca1df5.39e304","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":780,"y":80,"wires":[["30dc9c177b7204aa"]]},{"id":"30dc9c177b7204aa","type":"cast-to-client","z":"56ca1df5.39e304","name":"","url":"http://192.168.1.106:8123/local/01%20-%20Call%20Of%20The%20Zombie.mp3","contentType":"","message":"","language":"en","ip":"192.168.1.68","port":"8009","volume":"20","x":990,"y":80,"wires":[[]]},{"id":"fe47f3181e1c8745","type":"api-call-service","z":"56ca1df5.39e304","name":"","server":"5b698845.1b9868","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.sonoff_10010af276","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"last","x":970,"y":160,"wires":[["63ea3caa8ce9b5e8"]]},{"id":"63ea3caa8ce9b5e8","type":"delay","z":"56ca1df5.39e304","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":780,"y":240,"wires":[[]]},{"id":"7e5d9bbac9b6e604","type":"api-call-service","z":"56ca1df5.39e304","name":"","server":"5b698845.1b9868","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.sonoff_10010af276","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"last","x":970,"y":240,"wires":[[]]},{"id":"34acab9acd245f87","type":"delay","z":"56ca1df5.39e304","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":360,"y":160,"wires":[["10742f4f.d7ca71"]]},{"id":"901e2fc59dada750","type":"delay","z":"56ca1df5.39e304","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":780,"y":160,"wires":[["fe47f3181e1c8745"]]},{"id":"5b698845.1b9868","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]