flows.json
[{"id":"7c97671e.755618","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"d04cc1e15495df94","type":"server-state-changed","z":"7c97671e.755618","name":"Motion On","server":"5b698845.1b9868","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bedroom_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"2","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":60,"wires":[["a792db488d224421"],[]]},{"id":"a792db488d224421","type":"trigger","z":"7c97671e.755618","name":"Wait Trigger","op1":"1","op2":"1","op1type":"str","op2type":"str","duration":"1","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":270,"y":40,"wires":[["e996227e0813608c","e542020873e9cc51","d84913ee62c15fd1"]]},{"id":"e996227e0813608c","type":"http request","z":"7c97671e.755618","name":"Rings On","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.142/ringon","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":100,"wires":[[]]},{"id":"e542020873e9cc51","type":"cast-to-client","z":"7c97671e.755618","name":"Cast Rob Zombie","url":"http://192.168.1.106:8123/local/01%20-%20Call%20Of%20The%20Zombie.mp3","contentType":"","message":"","language":"en","ip":"192.168.1.68","port":"8009","volume":"45","x":530,"y":160,"wires":[[]]},{"id":"d84913ee62c15fd1","type":"api-call-service","z":"7c97671e.755618","name":"Porch Light On Red","server":"5b698845.1b9868","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.study","data":"{    \"color_name\":\"red\",    \"brightness\":50,    \"flash\":\"short\" }","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"last","x":530,"y":40,"wires":[["d677bba844b238f5"]]},{"id":"d677bba844b238f5","type":"delay","z":"7c97671e.755618","name":"","pauseType":"delay","timeout":"55","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":760,"y":40,"wires":[["cf6d8632cce589ed"]]},{"id":"cf6d8632cce589ed","type":"api-call-service","z":"7c97671e.755618","name":"Porch Light On White","server":"5b698845.1b9868","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.study","data":"{    \"color_name\":\"white\",    \"brightness\":50,    \"flash\":\"short\" }","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"last","x":980,"y":40,"wires":[[]]},{"id":"5b698845.1b9868","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]