ring_motion.json
[{"id":"56ca1df5.39e304","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c7807102.3f433","type":"http in","z":"56ca1df5.39e304","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":180,"y":191,"wires":[["60410cde.562a34"]]},{"id":"7f5cf345.63f56c","type":"http response","z":"56ca1df5.39e304","name":"","statusCode":"200","headers":{},"x":540,"y":60,"wires":[]},{"id":"60410cde.562a34","type":"function","z":"56ca1df5.39e304","name":"","func":"msg.payload = msg.payload.temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":191,"wires":[["7f5cf345.63f56c","2a85edc9.539412"]]},{"id":"2a85edc9.539412","type":"switch","z":"56ca1df5.39e304","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":220,"wires":[["677ce698.1ad578","ca96a438.8ae5e8"],["e4b75cbf.f1d49","f8525c98.6cff3"]]},{"id":"f8525c98.6cff3","type":"www-request","z":"56ca1df5.39e304","name":"Ring On","method":"GET","ret":"obj","url":"http://192.168.1.142/motion","follow-redirects":true,"persistent-http":true,"tls":"","x":620,"y":380,"wires":[["f6773107.0e9b7"]]},{"id":"f6773107.0e9b7","type":"debug","z":"56ca1df5.39e304","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":380,"wires":[]},{"id":"677ce698.1ad578","type":"debug","z":"56ca1df5.39e304","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":220,"wires":[]},{"id":"e4b75cbf.f1d49","type":"debug","z":"56ca1df5.39e304","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":280,"wires":[]},{"id":"ca96a438.8ae5e8","type":"www-request","z":"56ca1df5.39e304","name":"Ring Off","method":"GET","ret":"obj","url":"http://192.168.1.142/ringoff","follow-redirects":true,"persistent-http":true,"tls":"","x":820,"y":100,"wires":[[]]}]